{% extends 'main/layout.html' %}


{% block title %} Про нас {% endblock %}


{% block content %}
<main>
        <section class="about-us">
            <h1>О нас</h1>
            <p>Мы рады приветствовать вас в нашей стоматологии!
                Наша миссия - предоставлять высококачественные услуги по уходу за зубами
                для всей семьи. Наши врачи имеют многолетний опыт и используют только
                современные методы и оборудование.</p>
        </section>
        <section class="team">
            <h2>Наши врачи</h2>
            <div class="team-cards">
                <div class="card">
                    <h3>Мендибаева Гаухар Абзаловна</h3>
                    <p>Стоматолог-терапевт с 10-летним стажем.
                        Специализируется на лечении кариеса и других заболеваний зубов.</p>
                </div>
                <div class="card">
                    <h3>Рахимович Тилепбай</h3>
                    <p>Ортодонт с 8-летним стажем. Специализируется на исправлении прикуса
                        и установке брекетов.</p>
                </div>
            </div>
        </section>
        <section class="contact">
            <h2>Контакты</h2>
            <p>Адрес: ул. Примерная, д. 1, г. Примерный</p>
            <p>Телефон: +7 (123) 456-78-90</p>
            <p>Email: info@example.com</p>
        </section>
    </main>

{% endblock %}