{% extends 'main/layout.html' %}


{% block title %} Главная страница {% endblock %}


{% block content %}
<main class="mainapp">
        <section class="appointment-form">
            <h1>Запись на прием</h1>
            <form method="post">
                {% csrf_token %}
                <div class="hie">
                {{form.name}}<br>
                {{form.phone}}<br>
                    </div >
                {% for el in formGet %}
                <label class="check">
                    <input type="checkbox" id="{{el.name}}" name="{{el.name}}"
                           value="{{el.name}}">{{el.name}}
                    </label>
                {% endfor %}

                 <div class="die">
                    <button onclick="window.location.href='{% url 'appointment_create' %}'"
                            type="submit">Отправить заявку</button>
                 </div>

                <p class="warning">{{error}} </p>

            </form>
        </section>


    </main>
{% endblock %}