{% extends 'main/layout.html' %}


{% block title %} Контакты {% endblock %}


{% block content %}

<div class="background">
        <div class="contact-container">
            <h2>Контакты наших врачей</h2>
            <div class="doctor-card">
                <h3>Мендибаева Гаухар Абзаловна</h3>
                <p><strong>Телефон:</strong> +7 123 456 7890</p>
                <p><strong>Email:</strong> ivanov@example.com</p>
            </div>
            <div class="doctor-card">
                <h3>Рахимович Тилепбай</h3>
                <p><strong>Телефон:</strong> +7 987 654 3210</p>
                <p><strong>Email:</strong> petrov@example.com</p>
            </div>
        </div>
    </div>

{% endblock %}