{% extends 'main/layout.html' %}


{% block title %} Про нас {% endblock %}


{% block content %}
<div class="background">
        <div class="price-table-container">
            <h2>Наши цены</h2>
            <table class="price-table">

                <thead>
                    <tr>
                        <th>Наименование услуги</th>
                        <th>Цена</th>
                        <th>Описание</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Консультация стоматолога</td>
                        <td>5000 тг</td>
                        <td>Первичный осмотр и консультация стоматолога.</td>
                    </tr>
                    <tr>
                        <td>Пломбирование зуба</td>
                        <td>15000 тг</td>
                        <td>Лечение кариеса и установка пломбы.</td>
                    </tr>
                    <tr>
                        <td>Чистка зубов</td>
                        <td>12000 тг</td>
                        <td>Профессиональная чистка зубов ультразвуком.</td>
                    </tr>
                    <tr>
                        <td>Удаление зуба</td>
                        <td>15000 тг</td>
                        <td>Безболезненное удаление зуба.</td>
                    </tr>
                    <tr>
                        <td>Отбеливание зубов</td>
                        <td>25000 тг </td>
                        <td>Процедура отбеливания зубов безопасными методами.</td>
                    </tr>
                    <tr>
                        <td>Лучение зуба</td>
                        <td>35000 тг </td>
                        <td>Процедура отбеливания зубов безопасными методами.</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}